<div class = "body">
    <label>Sale company:
        <input #company class="in"/>
    </label>
    <br>
    <!-- <label>Sale deadline:
        <input #deadline type="date" class="in"/>
    </label>
    <br> -->
    <label>Sale value:
        <input #value type="number" class="in"/>
    </label>
    <br>
    <label>Sale cost:
        <input #cost type="number" class="in"/>
    </label>
    <br>
    <label>Sale description:
        <input #description type="string" class="in"/>
    </label>
    <br>

    <button (click)="add(company.value, value.value, cost.value, description.value)" class="add">
        Add
    </button>
    <button (click)="goBack()" class="add">
        Back
    </button>
</div>
