<app-navigation></app-navigation>
<div class="body">
    <img src={{image}} alt="" class="img" width=250 *ngFor="let image of sale.images">
    <div class="info">
        Company: {{sale.company}}
        <br>
        Deadline: {{sale.deadline}}
        <br>
        Cost: {{sale.cost}}
        <br>
        Discription: {{sale.discription}}
        <br>
        Status: {{sale.subscribers}} / {{sale.value}}
    </div>
    <button class="subs" *ngIf="status()" (click)="subs()">Subscribe</button>
    <button class="subs" *ngIf="!status()" (click)="unsubs()">UnSubscribe</button>
</div>