
<div class = "body">
    <h2>Active Sales</h2>
    <a class = "create" routerLink="/create-event">
        Create Sale
    </a>
    <a class = "create" routerLink="/home">
        Go Home
    </a>
    <div *ngFor="let sale of sales" class = "box">
        <a routerLink="/change/{{sale.id}}">
            <div *ngIf="sale.image" class="img">
                <img src={{sale.image}} alt="" width=250>
            </div>
            <div class="info">
                Company: {{sale.company}}
                <br>
                Deadline: {{sale.deadline}}
                <br>
                Cost: {{sale.cost}}
                <br>
                Discription: {{sale.Discription}}
                <br>
                Status: {{sale.subscribers}} / {{sale.value}}
            </div>
        </a>
        <button class="delete" title="delete sale"
      (click)="delete(sale)">x</button>
    </div>
    
</div>
